
<h1>Edit my help offer for <%= @job_request.title %></h1>

<% semantic_form_for [@job_request, @help_offer] do |form| %>
	<%= form.inputs :comment  %>
	
	<%= form.commit_button "Offer help" %>
<% end %>

<%= link_to 'Back', job_request_help_offers_path(@job_request) %>