<h3>I can help with: <%= @job_request.title %></h3>
<div style="padding-bottom: 10px;"><%= @job_request.description %></div>

<% semantic_form_for [@job_request, @help_offer] do |form| %>
	<%= form.inputs :comment  %>
	
	<%= form.commit_button "Offer help" %>
<% end %>
