<div class="help_offer">
	<div class="offer_name"><%= offer.user.email %></div>
	<div class="offer_comment"><%= offer.comment %></div>
	<div class="offer_accept"><%= link_to 'Accept', edit_job_request_help_offer_path(job_request, offer) %></div>
</div>