@charset "UTF-8";
/* CSS Document */

body {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
}
#container {
	width: 840px;  
	background: #FFFFFF;
	margin: 0 auto; 
	border: 0px solid #000000;
	text-align: left; 
}

#mainContent {
	width: 100%;
	padding: 0 39px;
}

#footer{
	width: 100%;
	margin: 0 auto;
	text-align:center;
	color:#999;
	
}

div.spacer {
	clear: both;
  }

div.left {
	float: left;
	width: 370px;
	padding-right: 22px;
}
  
div.right {
	float: right;
}

img.floatLeft { 
    float: left; 
    margin: 0 10px 0 19px; 
}

img.floatRight { 
    float: right; 
    margin: 0 10px 0 19px; 
}

#nav td.i_can_help span, #nav td.how_it_works span, #nav td.i_need_help span {
	display: none;
}

#nav td.i_can_help {
	background-image: url('../images/i_can_help.gif');
    background-repeat: no-repeat;
	width: 139px;
	height:27px;
}

#nav td.i_can_help:hover {
	background-image: url('../images/i_can_help_hover.gif');
    background-repeat: no-repeat;
	width: 139px;
	height:27px;
}

#nav td.how_it_works {
	background-image: url('../images/how_it_works.gif');
    background-repeat: no-repeat;
	width: 180px;
	height:27px;
}

#nav td.how_it_works:hover {
	background-image: url('../images/how_it_works_hover.gif');
    background-repeat: no-repeat;
	width: 180px;
	height:27px;
}

#nav td.i_need_help {
	background-image: url('../images/i_need_help.gif');
    background-repeat: no-repeat;
	width: 163px;
	height:27px;
}

#nav td.i_need_help:hover {
	background-image: url('../images/i_need_help_hover.gif');
    background-repeat: no-repeat;
	width: 163px;
	height:27px;
}

#opportunities h3 span,
#recent_helpers h3 span,
#thankyou_notes h3 span
{
	display:none;
}

#opportunities, #recent_helpers, #thankyou_notes {
	background: #F9FdFC url('../images/gradient.jpg');
    background-repeat: repeat-x;
	background-position: left top;
	
}

  
h3 {
  background-color: #418FAE;
	color: #fff;
	font-size: 1.5em;
	line-height: 1.5;
	font-family: "nevis", "Rockwell", Verdana;
	text-align: center;
	-moz-border-top-left-radius: 0.5em;
	-webkit-border-top-left-radius: 0.5em;
	-moz-border-top-right-radius: 0.5em;
	-webkit-border-top-right-radius: 0.5em;
}

.duration-box {
  float: left;
  margin: 0 0.5em;
  font-size: 4em;
  width: 1.2em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  text-align: center;
  font-family: "Baskerville", Verdana;
  -webkit-box-shadow: 2px 2px 2px #333333
}

.duration1 {
  background-color: #00B80C;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#00B80C), to(#00E20D));
}

.duration2 {
  background-color: #FFB712;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFB712), to(#F5FF00));
}

.duration3 {
  background-color: #EBED00;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#D54E04), to(#ED9603));
}

h4, h4 a, h4 a:visited {
  color: #000;
  font-family: "nevis", "Rockwell", Verdana;
  font-size: 1.2em;
}

p span.name{
	font-size:14px;
}

a, a:visited{
	color: #999;
}

a:hover {
	color:#666;
}

.header img {
  display: block;
}

a img {
  border: none;
}

.readmore {
	float:right;
	font-style:italic;
	color:#999;
	padding-right:10px;
}

.formtastic {
  width: 35em;
}


#speech {
    float: left;
    font-size: 11px;
    height: 0px;
}

#speech_left {

    position: relative; 
    top: -182px;
    left: 165px;
   
    width:142px;
    
}

#speech_right {

    position: relative; 
    top: -235px;
    left: 519px;
    
    width: 142px;
}

.formtastic fieldset.inputs,
.formtastic fieldset.inputs ol,
.formtastic fieldset.inputs ol li {
  width: 100%;
}

img.avatar {
  height: 60px;
  width: 60px;
}

